@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

html, body {
    height: 100%;
  }
  
header {
    font-size: 2rem;
    background-color: seagreen;
    color: white;
    padding: 2rem;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.container {
    margin-top: 3rem;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sections {
    margin-bottom: 1rem;
}

.label {
    font-size: 1.5rem;
}

input {
    width: 25rem;
    height: 2rem;
    margin-top: .5rem;
}

button {
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: .5rem;
    color: white;
    background-color: seagreen;
}

select {
    width: 25rem;
    height: 2rem;
    background-color: white;
    font-size: 1rem;
    margin: .5rem 0 .5rem 0;
}

#checkbox {
    font-size: .5rem;
    width: 2rem;
    height: 1rem;
}

.main {
    margin-bottom: 1rem;
}

#valor {
    width: 5rem;
}

.labelValor {
    margin-left: 13.5rem;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 90vw;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-item {
    margin-bottom: 1rem;
}

footer {
    background-color: seagreen;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom:0;
    left:0;
    height: 3rem;
    width: 100%;
    -webkit-box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);
}

.titulo {
    margin-bottom: 2rem;
}

.menu {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.menu  h1 {
    margin-bottom: 2rem;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: .5rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

li:hover {
    /* background-color: gray; */
    box-shadow: 1px 0px 5px 5px rgba(173,166,173,1);
}

i {
    font-size: 1rem;
    font-size: 1.5rem;
    color: white;
    padding-right: 1.5rem;
}

/*TABLEAS*/
.center {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

tr {
    height: 2rem;
}

td {
    width: 8rem;
}
#tabela td, #tabela th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tabela tr:nth-child(even){background-color: #f2f2f2;}
  
  #tabela tr:hover {background-color: #ddd;}
  
  #tabela th {
    text-align: left;
    background-color: seagreen;
    color: white;
  }
